%h1 Listing transactions

%table
  %tr
    %th Payee
    %th Amount
    %th Date
    %th Reconciled
    %th Location
    %th Budget
    %th User
    %th
    %th
    %th

  - @transactions.each do |transaction|
    %tr
      %td= transaction.payee
      %td= transaction.amount
      %td= transaction.date
      %td= transaction.reconciled
      %td= transaction.location
      %td= transaction.budget_id
      %td= transaction.user_id
      %td= link_to 'Show', transaction
      %td= link_to 'Edit', edit_transaction_path(transaction)
      %td= link_to 'Destroy', transaction, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Transaction', new_transaction_path
