<!DOCTYPE html>
<html>
<head>
  <title>Balance</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'bootstrap.min' %> #= Manually added Bootstrap CSS =#
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap.min' %> #= Manually added Bootstrap JS =#
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
